@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bebas+Neue&family=Lobster&display=swap');
:root{ --fonte1: 'Bebas Neue', cursive;
--fonte2: 'Lobster', cursive;
--fonte3:: 'Barlow Condensed', sans-serif;
--fonte4: 'Bebas Neue', cursive;
--fonte5:'Lobster Two', cursive ;

}
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family:var(--fonte1) ;
    min-height: 100vh;
    background-color: rgb(228, 218, 193);
    font-style: normal;
    font-weight: normal;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: cursive;
    font-size: 3vw;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: rgb(255, 255, 255);
    color: rgb(161, 155, 155);
}
section.imagem{
    background-color: rgb(90, 81, 81);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(78, 45, 45);
    background-attachment: fixed;
}
section.imagem > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.407);
    padding: 5px;
    text-shadow: 2px 2px 1px black ;

}
section#img01{
      background-image: url('imagens/background001.jpg');
      background-position: right center;
      background-size: cover;
}
section#img02{
    background-image: url('imagens/background002.jpg');
    background-size: cover;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}